.navLink:link,
.navLink:visited {
  font-family: inherit;
  color: rgb(238, 238, 238);
  text-decoration: none;
  margin: 0.5rem 1rem;
}

.navLink:active {
  color: white;
}

.navLink:hover {
  color: white;
}

a#basic-nav-dropdown.dropdown-toggle.nav-link {
  margin: 0.5rem 5rem;
}

/* @media (max-width: 991px) {
  a#basic-nav-dropdown.dropdown-toggle.nav-link {
    margin: 5rem 1rem;
  }
} */

.dropdownLink:link,
.dropdownLink:visited {
  font-family: inherit;
  color: #212629;
  text-decoration: none;
}
